---
layout: default
---

{{ content }}

<hr/>

<div class="talks">
{% for itm in site.data[page.datafile] %}
  <div class="talk" id="{{ itm.id }}">
    <div class="talktitle">{{ itm.topic }}</div>
    <em>Speaker: </em>{{ itm.speaker }} {% if itm.twitter %}<span class="small"><a href="https://twitter.com/{{ itm.twitter }}">@{{ itm.twitter }}</a></a></span>{% endif %}
    <br/>
    {% if itm.monkvideo %}<em>Video: </em> <a href="{{ itm.monkvideo }}">On Redmonk</a>{% endif %}{% if itm.video %}, <a href="{{ itm.video }}">On YouTube</a>{% endif %}
    {% if itm.slides %}<em><a href="{{ itm.slides }}">Slides</a></em>{% endif %}
    <br/>
    {{ itm.description }}
  </div>
{% endfor %}
</div>
