---
layout: default
---

{{ content }}

<hr/>

<div class="talks">
{% for itm in site.data[page.datafile] %}
  <div class="talk">
    <div class="talktitle">{{ itm.topic }}</div>
    <em>Speaker: </em>{{ itm.speaker }} {% if itm.twitter %}<span class="small"><a href="https://twitter.com/{{ itm.twitter }}">@{{ itm.twitter }}</a></a></span>{% endif %}
    <br/>
    <em>Video: </em>{% if itm.monkvideo %}<a href="{{ itm.monkvideo }}">Monk Video</a>{% endif %}{% if itm.video %}, <a href="{{ itm.video }}">YouTube</a>{% endif %}
    <br/>
    {{ itm.description }}
  </div>
{% endfor %}
</div>
